body {
    box-sizing: border-box;
    background-color: #EFE9E6;
    margin: 0;
    padding: 0;
}
/* Header */
header {
    max-width: 1800px;
    width: 100%;
    height: 80px;
    background-color: #A5906C;
}
.col80 {
    width: 80%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100%;
    margin: 0 auto;
}
.logo img {
    height: 100%;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    padding: 15px;
}
ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.menu ul li ul{
    background-color: #c4aa7e;
    width: 150px;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 5px gray;
    display: none;
    z-index: 1;

}
.menu ul li ul li a{
    color: #fff;
}
.menu ul li:hover>ul{
    display: block;
}
.item {
    display: flex;
    align-items: center;
    gap: 15px; /* Khoảng cách giữa các biểu tượng */
}
.item input {
    width: 150px;
    height: 20px; /* Tăng chiều cao để cân đối hơn */
    border-radius: 5px;
    padding: 5px;
    border: none; /* Xóa viền mặc định */
}
.item i {
    color: white;
    font-size: 18px; /* Tăng kích thước icon */
}
/* Home */
.bannerphu {
    display: flex; /* Kích hoạt Flexbox */
    justify-content: center; /* Căn ngang */
    align-items: center; /* Căn dọc */
    height: 200px; /* Đặt chiều cao cố định nếu cần */
}
.bannerphu img {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước container */
    height: 250; /* Giữ tỷ lệ ảnh */
}
h3{
    font-size: 28px;
    text-align: center;
    padding: 30px;
    color: #8F7D5E;
}