body {
    font-family: Arial, sans-serif;
    background-color: #EFE9E6;
    margin: 0;
    padding: 20px;
    color: #333;
}

.order-history {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

.address {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.order-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.order-details {
    flex: 1;
}

.order-details h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #333;
}

.order-details p {
    margin: 3px 0;
    font-size: 14px;
    color: #777;
}

.order-details span {
    color: #070808;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}

.order-status {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 15px;
    border-top: 1px solid #8F7D5E;
    padding-top: 10px;
}

.status-icon img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.status-text {
    color: #8F7D5E;
    font-weight: 500;
    margin-right: 10px;
}

.status-separator {
    color: #aaa;
    margin: 0 10px;
}

.completion-text {
    color: #000;
    font-weight: bold;
}


.price {
    font-size: 16px;
    font-weight: bold;
    color: #A5906C;
    margin-left: 20px;
}

.summary {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price {
    color: #d9534f;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.review {
    background-color: #8F7D5E;
    color: #fff;
}

button.review:hover {
    background-color: #8f8470;
}

button.refund {
    background-color: #E5C793;
    color: #fff;
}

button.refund:hover {
    background-color: rgb(175, 159, 134);
}

button.more {
    background-color: #A5906C;
    color: #fff;
}

button.more:hover {
    background-color: #A5906C;
}
hr{
    border: #8F7D5E 1px solid;
}