<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phụ Kiện Nam</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="header">
    <div class="banner">
      <img src="img/image 7.jpg" alt="Banner Phụ Kiện Nam">
    </div>
  </header>

  <main>
    <section class="product-section">
      <div class="product-list">
        <div class="product-item">
          <img src="img/image 2.png" alt="Dây chuyền vàng nam">
          <h3>Dây chuyền vàng nam</h3>
          <p>Giá: 2.990.000đ</p>
          <p>Hàng còn: 12 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="img/image 3.png" alt="Dây chuyền đôi bạc đính đá">
          <h3>Dây chuyền đôi bạc đính đá</h3>
          <p>Giá: 2.098.000đ</p>
          <p>Hàng còn: 5 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="img/image 4.png" alt="Dây chuyền bạc nữ">
          <h3>Dây chuyền bạc nữ</h3>
          <p>Giá: 2.000.000đ</p>
          <p>Hàng còn: 15 cái</p>
          <button>Mua ngay</button>
        </div>
    </div>
    <div class="product-list">
        <div class="product-item">
          <img src="img/image 6.png" alt="Dây chuyền nam bạc">
          <h3>Dây chuyền nam bạc</h3>
          <p>Giá: 750.000đ</p>
          <p>Hàng còn: 8 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="img/img1.png" alt="Dây chuyền bạc nam sợi nhỏ">
          <h3>Dây chuyền bạc nam sợi nhỏ</h3>
          <p>Giá: 749.000đ</p>
          <p>Hàng còn: 24 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="img/image 5.png" alt="Mặt dây chuyền vàng trắng nam">
          <h3>Mặt dây chuyền vàng trắng nam</h3>
          <p>Giá: 1.950.000đ</p>
          <p>Hàng còn: 9 cái</p>
          <button>Mua ngay</button>
        </div>
    </div>
    </section>
  </main>
</body>
</html>
