<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
     <div class="bannerphu">
        <img src="../public/img/logo phụ.png" alt="">
     </div>
     <div class="title">
        <h3>Xu Hướng Tìm Kiếm</h3>
     </div>
     <div class="container">
      <h3>Sản Phẩm Nữ</h3>
      <div class="row">
         <div class="col4">
            <img src="../public/img/h15.png" alt="">
            <p>Nón bóng chày unisex Pop Varsity Structure</p>
            <p>Giá: 1.990.000₫</p>
            <p>Hàng còn: 8 cái</p>
            <button>Mua ngay</button>
         </div>
         <div class="col4">
            <img src="../public/img/h16.png" alt="">
            <p>Thắt lưng Polo Id Reversible Leather Belt</p>
            <p>Giá: 6.899.000₫</p>
            <p>Hàng còn: 3 cái</p>
            <button>Mua ngay</button>
         </div>
         <div class="col4">
            <img src="../public/img/h17.png" alt="">
            <p>Ví nữ DWL0072-1</p>
            <p>Giá: 2.098.000₫</p>
            <p>Hàng còn: 10 cái</p>
            <button>Mua ngay</button>
         </div>
         <div class="col4">
            <img src="../public/img/h9.png" alt="">
            <p>Kính Mát Gucci Eyewear - Sunglasses</p>
            <p>Giá: 11.920.000₫</p>
            <p>Hàng còn: 2 cái</p>
            <button>Mua ngay</button>
         </div>
      </div>
      <div class="row2">
         <div class="col4">
            <img src="../public/img/h19.png" class="hinh22" alt="">
            <p>Nhẫn Vàng trắng 10K đính đá ECZ PNJ</p>
            <p>Giá: 8.232.000₫</p>
            <p>Hàng còn: 3 cái</p>
            <button>Mua ngay</button>
         </div>
         <div class="col4">
            <img src="../public/img/h20.png" alt="" class="">
            <p>Nón Nữ - Essential Chic Cap</p>
            <p>Giá: 1.590.000₫</p>
            <p>Hàng còn: 9 cái</p>
            <button>Mua ngay</button>
         </div>
         <div class="col4">
            <img src="../public/img/h21.png" alt="">
            <p>Nhẫn nữ đính kim cương Moissanite 10 carat</p>
            <p>Giá: 1.950.000₫</p>
            <p>Hàng còn: 12 cái</p>
            <button>Mua ngay</button>
         </div>
         <div class="col4">
            <img src="../public/img/h22.png" class="hinh22" alt="">
            <p>Dây chuyền bạc nữ sợi nhỏ DCH0918221</p>
            <p>Giá: 749.000₫</p>
            <p>Hàng còn: 24 cái</p>
            <button>Mua ngay</button>
         </div>
      </div>
     </div>
</body>
</html>