<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng Nhập Tài Khoản</title>
  <link rel="stylesheet" href="../public/css/login.css">
  <link rel="stylesheet" href="../fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">
</head>
<body>
  <div class="login-container">
    <div class="logo">
      <img src="../public/img/logokonen.png" alt="Phu Kien NTH">
    </div>
    <h3>ĐĂNG NHẬP TÀI KHOẢN</h3>
    <form class="login-form">
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Mật Khẩu" required>
      <div class="remember-me">
        <label>
          <input type="checkbox"> Ghi nhớ mật khẩu
        </label>
      </div>
      <button type="submit" class="btn-login">Đăng Nhập</button>
      <div class="links">
        <a class="a1" href="#">Quên mật khẩu</a>
        <span class="a1">Hoặc đăng nhập qua</span>
        <a class="a1" href="../view/dangky.html">Đăng ký tại đây</a>
      </div>
      <div class="social-login">
        <a href="#" class="facebook">Facebook</a>
        <a href="#" class="google">Google</a>
      </div>
    </form>
  </div>
</body>
</html>
