<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phụ Kiện Nam</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <ul class="nav-menu">
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#">Danh Mục</a></li>
        <li><a href="#">Giới Thiệu</a></li>
        <li><a href="#">Liên Hệ</a></li>
      </ul>
      <div class="search-cart">
        <input type="text" placeholder="Tìm kiếm...">
        <button>🔍</button>
        <a href="#" class="cart">🛒</a>
      </div>
    </nav>
    <div class="banner">
      <img src="img/image 7.jpg" alt="Banner Phụ Kiện Nam">
    </div>
  </header>

  <main>
    <section class="product-section">
      <div class="product-list">
        <div class="product-item">
          <img src="thatlung/shopping.webp" alt="Dây chuyền vàng nam">
          <h3>Dây thắt lưng nam</h3>
          <p>Giá: 2.990.000đ</p>
          <p>Hàng còn: 12 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="thatlung/shopping (1).webp" alt="Dây chuyền đôi bạc đính đá">
          <h3>Dây thắt lưng pvkv II</h3>
          <p>Giá: 2.098.000đ</p>
          <p>Hàng còn: 5 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="thatlung/shopping (2).webp" alt="Dây chuyền bạc nữ">
          <h3>Dây thắt lưng nam đen dô</h3>
          <p>Giá: 2.000.000đ</p>
          <p>Hàng còn: 15 cái</p>
          <button>Mua ngay</button>
        </div>
    </div>
    <div class="product-list">
        <div class="product-item">
          <img src="thatlung/shopping (3).webp" alt="Dây chuyền nam bạc">
          <h3>Dây thắt lưng nam bạc</h3>
          <p>Giá: 750.000đ</p>
          <p>Hàng còn: 8 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="thatlung/shopping (4).webp" alt="Dây chuyền bạc nam sợi nhỏ">
          <h3>Dây thắt lưng nam sợi nhỏ</h3>
          <p>Giá: 749.000đ</p>
          <p>Hàng còn: 24 cái</p>
          <button>Mua ngay</button>
        </div>
        <div class="product-item">
          <img src="thatlung/shopping (5).webp" alt="Mặt dây chuyền vàng trắng nam">
          <h3>Dây thắt lưng nam</h3>
          <p>Giá: 1.950.000đ</p>
          <p>Hàng còn: 9 cái</p>
          <button>Mua ngay</button>
        </div>
    </div>
    </section>
  </main>
</body>
</html>
